html {
  height: 100%;
  width: 100%;
  background-color: #24212c;
}

* {
  box-sizing: border-box;
}

p {
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  margin: 0 auto;
  line-height: 17px;
  spacing
}


/*AI assistance used for rainbow effect*/
@keyframes rainbow {
  0% {
    color: red;
  }

  14% {
    color: orange;
  }

  28% {
    color: yellow;
  }

  42% {
    color: #00eb00;
  }

  57% {
    color: #009dff;
  }

  71% {
    color: #7700cc;
  }

  100% {
    color: red;
  }
}

h1 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 35px;
  letter-spacing: -1px;
  word-spacing: -0.8px;
  animation: rainbow 6s linear infinite;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  letter-spacing: -1px;
  word-spacing: -0.8px;
  color: #ffffff;
}



.container {
  display: grid;
  height: 150vh;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.4fr 1fr 8fr 8fr 2fr;
  grid-gap: 25px;

  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "sidebar main main content3"
    "sidebar main main content3"
    "sidebar content1 content2 content3"
    "footer footer footer footer";
}

header {
  grid-area: header;
}

nav {
  background-color: hotpink;
  grid-area: nav;

  background-color: #1c1c1c;
  text-align: center;

  width: 500px;
  margin: 0 auto;

}

nav ul {
  padding: 10px;
}

nav li {
  display: inline;
  margin-right: 20px;

}


nav a {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  letter-spacing: -1px;
  color: #FFF;
  word-spacing: -0.8px;
  transition: color 0.3s;
  /* Smooth color transition on hover */
  text-decoration: none;
}


nav a:hover {
  color: #8000ff;

}

main {
  grid-area: main;
  
}

main p {
  width: 90%;
  margin-left: 5%;
}
#sidebar {
  grid-area: sidebar;

}

#content1 {
  background-color: orange;
  grid-area: content1;

}

#content2 {
  background-color: lightblue;
  grid-area: content2;
  width: 100%;
  height: 100%;
}

#content2 img {
  height: 100%;
  width: 100%;

}

#content3 {
  background-color: lightgreen;
  grid-area: content3;
}

footer {
  grid-area: footer;
  height: 50px;
  text-align: center;
}

footer img {
  height: 100%;
}

#git {
  border: 2px solid white;
  border-radius: 5px;
  height: 42px;
  margin-bottom: 4px;
  background-color: white;
}

@media only screen and (max-width:768px) {
  .container {
    height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.4fr 2fr 1fr 1fr 1fr 0.6fr;
    grid-gap: 5px;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}


.content1 img {
  width: 100%;
  height: 100%;
}

.content2 img {
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
}